@model IEnumerable<Sistema.Data.Entities.Product>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Produtos";
}

<div class="container tabela-precos">
    <h2 class="titulo">Produtos</h2>

    @foreach (var categoria in Model.GroupBy(p => p.ProductCategory.Name))
    {
        <div class="categoria">@categoria.Key</div>

        @foreach (var item in categoria)
        {
            <div class="linha-preco">
                <span class="servico">@item.Name</span>
                <span class="preco">@item.SalePrice.ToString("C")</span>
            </div>
        }
    }
</div>
