{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\mssqllocaldb;Database=SistemaDb;Trusted_Connection=true;MultipleActiveResultSets=true"
  },
  "Authentication": {
    "Facebook": {
      "AppId": "2313823932388470",
      "AppSecret": "36892362c27155193917fb0111cbfb28
"
    },
    "Google": {
      "ClientId": "5761002439-q6lbis04lmt02cmgjjobv9pnpf6tj4ib.apps.googleusercontent.com",
      "ClientSecret": "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"
    }
  }
}
