@{
    ViewBag.Title = "Recrutamento";
    Layout = "~/Views/Shared/_Layout.cshtml"; // usa o layout padrão do projeto
}


<section class="about-section py-5">

<div class="container mt-4">

    <!-- Hero Section -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <h1 class="display-5 fw-bold">Recrutamento</h1>
            <p class="lead">            
                <p>Quer fazer parte da equipe Wiñk?</p>
                <p>Transformar o universo do olhar de todas as mulheres?</p>
                <p>Então, envie o seu currículo para <strong>ewellinjordao@gmail.com</strong></p>
            </p>           

            
        </div>
        <div class="col-md-6">
            <img src="~/images/About/4.jpg" class="img-fluid rounded" alt="Banner Recrutamento" />
        </div>
    </div>   
</section>

