@model Sistema.Models.Admin.ProductViewModel

@{
    ViewData["Title"] = "Criar um novo produto";
}



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Products" />
            
            <div class="form-group">
                <!-- Botão de Salvar com ícone -->
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>              
                
                <!-- Link "Voltar para a Lista" com ícone -->
                <a asp-action="Index" class="btn btn-success"><i class="fas fa-list"></i> Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            $('#photoInput').on('change', function (e) {
                const file = e.target.files[0];
                if (!file) return;
                const reader = new FileReader();
                reader.onload = function (ev) {
                    $('#photoPreview').attr('src', ev.target.result).show();
                };
                reader.readAsDataURL(file);
            });
        });
    </script>
}
